<!DOCTYPE html>
<html>

<head>
    <title>SCAM Don't CRAM - Quiz</title>

    <link
        rel="stylesheet" href="/static/css/style.css"
    >
</head>

<body>

<div class="page">

    <h1>Study Method Discovery Quiz</h1>

    <p>
        Choose a section to begin.
    </p>

    <div class="sections">

        {% for section in sections %}

        <div class="section-card">

            <h2>
                {{ section["name"] }}
            </h2>

            <p>
                {{ section["description"] }}
            </p>

        </div>

        {% endfor %}

    </div>

</div>

</body>
</html>